body {
  background: pink;
}

h1 {
  color: blue;
  font-size: 3em; 
}

h2 {
  color: green;
  font-weight: normal;
  font-style: italic;
}

/* https://www.w3schools.com/cssref/pr_font_font-family.asp */
.completed {
  font-size: 12px;
}

#tasks .completed {
  background: #ccc;
  text-decoration: underline;
}